@{
    ViewBag.Title = "用户管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mainpanel">
    <div class="contentpanel">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="form-inline">
                    <div class="form-group mt10">
                        <select name="" class="form-control">
                            <option value="">性别</option>
                            <option value="">男</option>
                            <option value="">女</option>
                        </select>
                    </div>
                    <div class="form-group mt10">
                        <input name="txtStar" type="text" id="txtStar" placeholder="请输入起始时间" class="form-control datepicker">
                        <input name="txtEnd" type="text" id="txtEnd" placeholder="请输入结束时间" class="form-control datepicker">
                    </div>
                    <div class="form-group mt10">
                        <input name="" type="text" id="" placeholder="请输入用户昵称" class="form-control datepicker">
                    </div>
                    <div class="form-group mt10">
                        <a class="btn btn-primary mr5" iconcls="icon-search" href="javascript:;"><i class="fa fa-search"></i> 搜 索 </a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-primary mb30">
                    <thead>
                        <tr>
                            <th style="min-width: 80px;">编号</th>
                            <th style="min-width: 80px;">昵称</th>
                            <th style="min-width: 80px;">头像</th>
                            <th style="min-width: 80px;">姓名</th>
                            <th style="min-width: 80px;">性别</th>
                            <th style="min-width: 80px;">联系方式</th>
                            <th style="min-width: 80px;">详细地址</th>
                            <th style="min-width: 80px;">创建时间</th>
                            <th style="min-width: 80px;">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-attr="编号">20171103 </td>
                            <td data-attr="昵称">环保从我做起</td>
                            <td data-attr="头像"><img src="Picture/profile.png" width="30" /></td>
                            <td data-attr="姓名">毛妮妮</td>
                            <td data-attr="性别">男</td>
                            <td data-attr="联系方式">18766567789</td>
                            <td data-attr="详细地址">广西南宁市青秀区100号</td>
                            <td data-attr="创建时间">2017/04/30 16:10</td>
                            <td data-attr="操作"><a>操作</a></td>
                        </tr>
                        <tr>
                            <td data-attr="编号">20171103 </td>
                            <td data-attr="昵称">环保从我做起</td>
                            <td data-attr="头像"><img src="Picture/profile.png" width="30" /></td>
                            <td data-attr="姓名">毛妮妮</td>
                            <td data-attr="性别">男</td>
                            <td data-attr="联系方式">18766567789</td>
                            <td data-attr="详细地址">广西南宁市青秀区100号</td>
                            <td data-attr="创建时间">2017/04/30 16:10</td>
                            <td data-attr="操作"><a>操作</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div><!-- contentpanel -->
</div><!-- mainpanel -->
        </div><!-- mainwrapper -->
    </section>            
@section FooterScript
{
<script type="text/javascript">
        	$(function(){
        		jQuery('.datepicker').datepicker();
        	})
</script>
}