@{
    ViewBag.Title = "添加编辑试题";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mainpanel">
    <div class="contentpanel">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>创建新试卷</h4>
            </div>
            <div class="panel-body">
                <form action="" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">试卷标题</label>
                        <div class="col-sm-6">
                            <input type="text" id="txtPaper" placeholder="" class="form-control">
                        </div>
                        <div class="col-sm-1">
                            <input type="button" id="btnSavePaper" placeholder="" class="form-control" value="保存试卷" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- contentpanel -->
</div><!-- mainpanel -->
        </div><!-- mainwrapper -->
    </section>

<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body">
                <p>确定删除该活动？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="sureDel">确认</button>
            </div>
        </div>
    </div>
</div>           
@section FooterScript
{
<script type="text/javascript">
        $(function () {

            $("#btnBack").click(function () { window.location.href = "/testpaper/list";});

            $("#btnSavePaper").click(function () {
                var txtPaper = $("#txtPaper").val();
                $.ajax({
                    url: "/testpaper/addpaper", type: "post", data: {testTitle:txtPaper},
                    success: function (result) {
                        if (result.status == "error")
                        {
                            alert(result.errorMsg);
                        }
                        else if (result.status == "success")
                        {
                            alert("添加成功！");
                            window.location.href = "/testpaper/list";
                        }
                        else {
                            alert("未知错误");
                        }
                    },
                    error: function () { alert("网络错误"); }
                });
            });
        });
</script>
}