
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>广西环保</title>
    <link rel="stylesheet" type="text/css" href="~/css/common.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style-default.css" />
</head>
<body>
    <div class="index-bg">
        <div class="index-wrap">
            <div class="index-title">第68期有奖环保答题活动</div>
            <div class="index-dec">为了进一步宣传环保知识、共建美丽环境，我们特此开展这项污染普查知识竞赛微信有奖答题</div>
        </div>
        <div class="index-wrap">
            <dl class="index-dl">
                <dt>活动开始时间</dt>
                <dd>2017-12-22</dd>
            </dl>
            <dl class="index-dl">
                <dt>答题截止时间</dt>
                <dd>2017-01-24</dd>
            </dl>
            <dl class="index-dl">
                <dt>开奖时间</dt>
                <dd>2017-09-26</dd>
            </dl>
        </div>
        <div class="index-wrap">
            <dl class="index-dl">
                <dt>当前参与人数</dt>
                <dd>12545人</dd>
            </dl>
            <dl class="index-dl">
                <dt>活动状态</dt>
                <dd class="txt-foces">待开始</dd>
            </dl>
            <dl class="index-dl">
                <dt>我的参与情况</dt>
                <dd class="txt-foces">未参与</dd>
            </dl>
        </div>
    </div>
    <div class="menu">
        <a href="~/home/topic" class="menu-li">
            <span class="menu-icon icon1"></span>
            <span class="menu-txt">本期知识</span>
        </a>
        <a href="~/home/answer" class="menu-li">
            <span class="menu-icon icon2"></span>
            <span class="menu-txt">立即答题</span>
        </a>
        <a href="~/home/prize" class="menu-li">
            <span class="menu-icon icon3"></span>
            <span class="menu-txt">获奖查询</span>
        </a>
        <a href="#" class="menu-li">
            <span class="menu-icon icon4"></span>
            <span class="menu-txt">转发好友</span>
        </a>
    </div>
</body>
</html>
