@model Chat.FrontWeb.Models.TopicModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>广西环保</title>
    <link rel="stylesheet" type="text/css" href="~/css/common.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style-default.css" />
</head>
<body>
    <div class="knowlege-bg">
        <div class="knowlege-wrap">
            <div class="knowlege-title font">@Model.ActivityName</div>
            <div class="knowlege-con">
                @for (int i = 0; i < Model.ExesTip.Count; i++)
                {
                    <div class="knowlege-qes">@(i+1).@Model.ExesTip[i]</div>
                }                             
            </div>
        </div>
    </div>
    <div class="fixed-btn">
        <div class="fixed-btn-wrap">
            <a href="~/home/index">返回首页</a>
        </div>
    </div>
</body>
</html>
